<h2><%= @post.title %></h2>
<p><%= @post.content %></p>
<p><% @post.categories.each do |c| %>
   <%= c.name %> 
   <% end %>
</p>
Comments:
  <% @post.comments.each do |comment| %>
    <%= link_to comment.user.username, user_path(comment.user) %>
    <%= comment.content %>
  <% end %>
  
<%= form_for @comment do |f| %>
<%= f.label 'Username:' %>
<%= f.text_field :user_username, list: 'comment_user_id_autocomplete' %>
  <datalist id="comment_user_id_autocomplete">
    <% User.all.each do |user| %>
      <option value="<%= user.username %>">
    <% end %>
  </datalist>
  
  Comment:
  <input type='text' name='post[comment_contents][]' id='comment_content'>
<%= f.submit %>
<% end %>  

