<h2><%= @post.title %></h2>
<p><%= @post.content %></p>
<p><% @post.categories.each do |c| %>
   <%= c.name %> 
   <% end %>
</p>
Comments:
  <% @post.comments.each do |comment| %>
    <%= link_to comment.user.username, user_path(comment.user) %>
    <%= comment.content %>
  <% end %>
  
<%= form_for @post do |f| %>
<%= f.label 'Username' %>
<%= f.text_field :user_username %>
<%= f.collection_select :user_ids, User.all, :id, :username %>
  <input type='text' name='post[comment_contents][]'id='post_comments_1'>
<%= f.submit %>
<% end %>  